.footer {
  height: 55vh;
  background-color: #020024;

  margin-top: -10rem;
  display: flex;
  padding: 20rem 15% 5rem 15%;

  &__contact {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    flex-direction: column;
  }
  & h1 {
    color: #fff;
  }

  & h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }
}

form {
  max-width: 420px;
  margin: 4rem auto;
}

.feedback-input {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.082);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 0.7rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid rgba(255, 255, 255, 0.294);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #fff;
  border: 0;
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
  
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.739);
}
