.about-us {
  height: 70vh;
  margin-left: 15%;
  display: flex;

  &__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20rem;
  }

  &__statistics {
    height: 15%;
    display: flex;
    justify-content: space-between;
  }

  &__statistics-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.services {
  height: 55vh;
  margin: 0 15%;
  display: flex;
}

.projects {
  height: 40vh;
  margin: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;

  &__wrapper {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 1rem;
  }

  &__container {
    height: 100%;
    width: 27rem;

    &--top {
      height: 75%;
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: center bottom;
      background-color: #f1f5fa;
    }

    &--bottom {
      width: 100%;
      padding: 1.5rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
    }
  }
}

.project-1 {
  background-image: url("/img/project-1.png");
}

.project-2 {
  background-image: url("/img/project-2.png");
}

.project-3 {
  background-image: url("/img/project-3.png");
}

.project-4 {
  background-image: url("/img/project-4.png");
}
