.flow {
  --flow-space: 5rem;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.bg-primary {
  background: #fff;
}

.bg-secondary {
  background: #000;
}

.color-primary {
  color: #808080;
}

.color-secondary {
  color: #000;
}

.margin-top-siblings-3 > * + * {
  margin-top: 3rem;
}

.category {
  height: 2vh;
  margin: 0 15%;
}

.content-block {
  height: 45%;
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.content__side-block {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  
}

.content__main-block {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1rem;
  margin-left: 11.5rem;
  
}

.text-block {
  display: flex;
  flex-direction: column;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: column;
}
